<div class="video-background-container">
  <video autoplay muted loop id="background-video">
    <source src="assets/videoHome.mp4" type="video/mp4" />
  </video>
  <div class="hero-section">
    <h1>Welcome to SkyGo</h1>
    <p>Your ultimate destination for booking flights effortlessly</p>
    <!-- <a routerLink="/flights" class="btn btn-primary"
      ><span> Book Your Flight Now</span></a
    > -->
    <!-- booking flights button  -->
    <button routerLink="/flights" class="button">Book Your Flights Now</button>
  </div>
</div>
<!-- <div>
  <div class="content">
    
    <div class="features-section">
      <h2>Why Choose Us?</h2>
      <div class="feature">
        <h3>Best Prices Guaranteed</h3>
        <p>We offer competitive prices on flights from all major airlines.</p>
      </div>
      <div class="feature">
        <h3>Easy Booking Process</h3>
        <p>
          Book your flight in just a few clicks with our user-friendly
          interface.
        </p>
      </div>
      <div class="feature">
        <h3>24/7 Customer Support</h3>
        <p>Our support team is here to assist you anytime, anywhere.</p>
      </div>
    </div>

    <div class="destinations-section">
      <h2>Popular Destinations</h2>
      <div class="destination">
        <img
          src="https://images.unsplash.com/photo-1510634047060-93a4747e85c4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZmxpZ2h0JTIwYXR0ZW5kYW50fGVufDB8fDB8fHww"
          alt="Destination 1"
        />
        <h3>New York</h3>
        <p>Discover the city that never sleeps with amazing deals.</p>
      </div>
      <div class="destination">
        <img src="assets/destination2.jpg" alt="Destination 2" />
        <h3>Paris</h3>
        <p>Experience the romantic charm of Paris with our special offers.</p>
      </div>
      <div class="destination">
        <img src="assets/destination3.jpg" alt="Destination 3" />
        <h3>Tokyo</h3>
        <p>Explore the vibrant culture of Tokyo with unbeatable prices.</p>
      </div>
    </div>
  </div>
</div> -->
